@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f8fafc;
}

#root {
  width: 100%;
  text-align: left; /* Explicitly fix the unorganized centering */
}
